body{
    background:#fafafa;
    
}

.navbar-brand{
    float: left;
}

.navbar-nav{
    float: right;
}
.cuartacaja{
    
    height: 150px;
}
svg{
    margin-top: -150px;
}
.between{
    height: 75px;
}
.deslizar{
    overflow: scroll;
    height: 420px;
}